[submodule "plugins/uEmu"]
	path = plugins/uEmu
	url = https://github.com/alexhude/uEmu.git

[submodule "plugins/findcrypt-yara"]
	path = plugins/findcrypt-yara
	url = https://github.com/polymorf/findcrypt-yara.git


[submodule "plugins/d810"]
	path = plugins/d810
	url = https://gitlab.com/eshard/d810.git
[submodule "plugins/bincat"]
	path = plugins/bincat
	url = https://github.com/airbus-seclab/bincat.git
	
[submodule "plugins/keypatch"]
	path = plugins/keypatch
	url = https://github.com/keystone-engine/keypatch.git
[submodule "plugins/frinet"]
	path = plugins/frinet
	url = https://github.com/synacktiv/frinet.git

[submodule "plugins/mrspicky"]
	path = plugins/mrspicky
	url = https://github.com/patois/mrspicky.git
[submodule "plugins/flare-ida"]
	path = plugins/flare-ida
	url = https://github.com/mandiant/flare-ida.git
[submodule "plugins/aidapal"]
	path = plugins/aidapal
	url = https://github.com/atredispartners/aidapal.git
[submodule "plugins/Gepetto"]
	path = plugins/Gepetto
	url = https://github.com/JusticeRage/Gepetto.git
[submodule "plugins/hashdb-ida"]
	path = plugins/hashdb-ida
	url = https://github.com/OALabs/hashdb-ida.git
[submodule "plugins/Hyara"]
	path = plugins/Hyara
	url = https://github.com/hyuunnn/Hyara.git
[submodule "plugins/dsync"]
	path = plugins/dsync
	url = https://github.com/patois/dsync.git


[submodule "plugins/HRDevHelper"]
	path = plugins/HRDevHelper
	url = https://github.com/patois/HRDevHelper.git
[submodule "plugins/hrtng"]
	path = plugins/hrtng
	url = https://github.com/KasperskyLab/hrtng.git
[submodule "plugins/headless-ida"]
	path = plugins/headless-ida
	url = https://github.com/DennyDai/headless-ida.git
[submodule "modules/hexrays_scripts"]
	path = modules/hexrays_scripts
	url = https://github.com/patois/hexrays_scripts.git


[submodule "plugins/flare-floss"]
	path = plugins/flare-floss
	url = https://github.com/mandiant/flare-floss.git
[submodule "plugins/HexRaysCodeXplorer"]
	path = plugins/HexRaysCodeXplorer
	url = https://github.com/REhints/HexRaysCodeXplorer.git
[submodule "plugins/LazyIDA"]
	path = plugins/LazyIDA
	url = https://github.com/L4ys/LazyIDA.git
[submodule "plugins/ida_ifl"]
	path = plugins/ida_ifl
	url = https://github.com/hasherezade/ida_ifl.git

[submodule "plugins/deREferencing"]
	path = plugins/deREferencing
	url = https://github.com/danigargu/deREferencing.git

[submodule "plugins/FindFunc"]
	path = plugins/FindFunc
	url = https://github.com/FelixBer/FindFunc.git
[submodule "plugins/ida_bitfields"]
	path = plugins/ida_bitfields
	url = https://github.com/JustasMasiulis/ida_bitfields.git
[submodule "plugins/IDA-Fusion"]
	path = plugins/IDA-Fusion
	url = https://github.com/senator715/IDA-Fusion.git
[submodule "plugins/CTO"]
	path = plugins/CTO
	url = https://github.com/herosi/CTO.git

#https://github.com/lemontreehuang/HexRaysCodeXplorer_ida9.1
[submodule "plugins/HexRaysCodeXplorer_ida9.1"]
	path = plugins/HexRaysCodeXplorer_ida9.1
	url = https://github.com/lemontreehuang/HexRaysCodeXplorer_ida9.1.git


[submodule "plugins/stalker_trace_so"]
	path = plugins/stalker_trace_so
	url = https://github.com/oacia/stalker_trace_so.git
[submodule "plugins/auto-enum"]
	path = plugins/auto-enum
	url = https://github.com/junron/auto-enum.git
[submodule "plugins/trace_natives"]
	path = plugins/trace_natives
	url = https://github.com/Pr0214/trace_natives.git
[submodule "plugins/OpenLumina"]
	path = plugins/OpenLumina
	url = https://github.com/tomrus88/OpenLumina.git
[submodule "plugins/MyIdaFrida"]
	path = plugins/MyIdaFrida
	url = https://github.com/AnxiangLemon/MyIdaFrida.git


[submodule "plugins/protobuf-finder"]
	path = plugins/protobuf-finder
	url = https://github.com/Accenture/protobuf-finder.git
[submodule "plugins/jni_helper"]
	path = plugins/jni_helper
	url = https://github.com/evilpan/jni_helper.git

# https://github.com/hexamine22/ungarble_ida
[submodule "plugins/ungarble_ida"]
	path = plugins/ungarble_ida
	url = https://github.com/hexamine22/ungarble_ida.git

# https://github.com/Krietz7/IDA-TimeTravelEmulator.git
[submodule "plugins/IDA-TimeTravelEmulator"]
	path = plugins/IDA-TimeTravelEmulator
	url = https://github.com/Krietz7/IDA-TimeTravelEmulator.git

	# https://github.com/pattern-f/idapython-ifred.git
[submodule "plugins/idapython-ifred"]
	path = plugins/idapython-ifred
	url = https://github.com/pattern-f/idapython-ifred.git

# https://github.com/AzDeltaQQ/AutoReverseIDA9.0
[submodule "plugins/AutoReverseIDA9.0"]
	path = plugins/AutoReverseIDA9.0
	url = https://github.com/AzDeltaQQ/AutoReverseIDA9.0.git


# https://github.com/ccc909/IDASplitApkDebugging
[submodule "plugins/IDASplitApkDebugging"]
	path = plugins/IDASplitApkDebugging
	url = https://github.com/ccc909/IDASplitApkDebugging.git

# https://github.com/Ashita-oops/ida-scripts
[submodule "plugins/ida-scripts"]
	path = plugins/ida-scripts
	url = https://github.com/Ashita-oops/ida-scripts.git

# https://github.com/kweatherman/IDA_ClassInformer_PlugIn

[submodule "plugins/IDA_ClassInformer_PlugIn"]
	path = plugins/IDA_ClassInformer_PlugIn
	url = https://github.com/kweatherman/IDA_ClassInformer_PlugIn.git

# https://github.com/Krietz7/IDA-DataExportPlus
[submodule "plugins/IDA-DataExportPlus"]
	path = plugins/IDA-DataExportPlus
	url = https://github.com/Krietz7/IDA-DataExportPlus.git

# https://github.com/ys1231/idafridascript
[submodule "plugins/idafridascript"]
	path = plugins/idafridascript
	url = https://github.com/ys1231/idafridascript.git

# https://github.com/L4ys/LazyCross
[submodule "plugins/LazyCross"]
	path = plugins/LazyCross
	url = https://github.com/L4ys/LazyCross.git


	# https://github.com/harlamism/IdaClu
[submodule "plugins/IdaClu"]
	path = plugins/IdaClu
	url = https://github.com/harlamism/IdaClu.git

# https://github.com/kweatherman/sigmakerex
[submodule "plugins/sigmakerex"]
	path = plugins/sigmakerex
	url = https://github.com/kweatherman/sigmakerex.git

#v https://github.com/elastic/HexForge
[submodule "plugins/HexForge"]
	path = plugins/HexForge
	url = https://github.com/elastic/HexForge.git

# https://github.com/taida957789/ida-mcp-server-plugin
[submodule "plugins/ida-mcp-server-plugin"]
	path = plugins/ida-mcp-server-plugin
	url = https://github.com/taida957789/ida-mcp-server-plugin.git

# https://github.com/mefistotelis/ida-pro-loadmap
[submodule "plugins/ida-pro-loadmap"]
	path = plugins/ida-pro-loadmap
	url = https://github.com/mefistotelis/ida-pro-loadmap.git

# https://github.com/maskelihileci/IDA_Ollvm-unflattener
[submodule "plugins/IDA_Ollvm-unflattener"]
	path = plugins/IDA_Ollvm-unflattener
	url = https://github.com/maskelihileci/IDA_Ollvm-unflattener.git

# https://github.com/gmh5225/IDA-MapSymbolParser
[submodule "plugins/IDA-MapSymbolParser"]
	path = plugins/IDA-MapSymbolParser
	url = https://github.com/gmh5225/IDA-MapSymbolParser.git

# https://github.com/WPeace-HcH/WPeChatGPT
[submodule "plugins/WPeChatGPT"]
	path = plugins/WPeChatGPT
	url = https://github.com/WPeace-HcH/WPeChatGPT.git

# https://github.com/P4nda0s/IDAFrida
[submodule "plugins/IDAFrida"]
	path = plugins/IDAFrida
	url = https://github.com/P4nda0s/IDAFrida.git

# https://github.com/lstaroth/AntiXorstr
[submodule "plugins/AntiXorstr"]
	path = plugins/AntiXorstr
	url = https://github.com/lstaroth/AntiXorstr.git

# https://github.com/oxiKKK/ida-function-string-associate
[submodule "plugins/ida-function-string-associate"]
	path = plugins/ida-function-string-associate
	url = https://github.com/oxiKKK/ida-function-string-associate.git

# https://github.com/avast/retdec-idaplugin
[submodule "plugins/retdec-idaplugin"]
	path = plugins/retdec-idaplugin
	url = https://github.com/avast/retdec-idaplugin.git

# https://github.com/a1ext/labeless
[submodule "plugins/labeless"]
	path = plugins/labeless
	url = https://github.com/a1ext/labeless.git

# https://github.com/kweatherman/ida_missinglink
[submodule "plugins/ida_missinglink"]
	path = plugins/ida_missinglink
	url = https://github.com/kweatherman/ida_missinglink.git


# https://github.com/cellebrite-labs/LabSync
[submodule "plugins/LabSync"]
	path = plugins/LabSync
	url = https://github.com/cellebrite-labs/LabSync.git

# https://github.com/cellebrite-labs/FunctionInliner
[submodule "plugins/FunctionInliner"]
	path = plugins/FunctionInliner
	url = https://github.com/cellebrite-labs/FunctionInliner.git

# https://github.com/TakahiroHaruyama/ida_haru
[submodule "plugins/ida_haru"]
	path = plugins/ida_haru
	url = https://github.com/TakahiroHaruyama/ida_haru.git

# https://github.com/Pycatchown/ClassMaker
[submodule "plugins/ClassMaker"]
	path = plugins/ClassMaker
	url = https://github.com/Pycatchown/ClassMaker.git

# https://github.com/Skwteinopteros/ida-venv
[submodule "plugins/ida-venv"]
	path = plugins/ida-venv
	url = https://github.com/Skwteinopteros/ida-venv.git

# https://github.com/NoneShell/IDAComments
[submodule "plugins/IDAComments"]
	path = plugins/IDAComments
	url = https://github.com/NoneShell/IDAComments.git

# https://github.com/x64dbg/x64dbgida
[submodule "plugins/x64dbgida"]
	path = plugins/x64dbgida
	url = https://github.com/x64dbg/x64dbgida.git

# https://github.com/Lil-Ran/build-bindiff-for-ida-9
[submodule "plugins/build-bindiff-for-ida-9"]
	path = plugins/build-bindiff-for-ida-9
	url = https://github.com/Lil-Ran/build-bindiff-for-ida-9.git

# https://github.com/zengfr/ida-pro-idb-database
[submodule "plugins/ida-pro-idb-database"]
	path = plugins/ida-pro-idb-database
	url = https://github.com/zengfr/ida-pro-idb-database.git

#	https://github.com/zengfr/HexRaysCodeXplorer_plugin_for_ida_pro
[submodule "plugins/HexRaysCodeXplorer_plugin_for_ida_pro"]
	path = plugins/HexRaysCodeXplorer_plugin_for_ida_pro
	url = https://github.com/zengfr/HexRaysCodeXplorer_plugin_for_ida_pro.git

# https://github.com/nlitsme/pyidbutil
[submodule "plugins/pyidbutil"]
	path = plugins/pyidbutil
	url = https://github.com/nlitsme/pyidbutil.git

# https://github.com/junron/ida2py
[submodule "plugins/ida2py"]
	path = plugins/ida2py
	url = https://github.com/junron/ida2py.git

# https://github.com/eset/ipyida
[submodule "plugins/ipyida"]
	path = plugins/ipyida
	url = https://github.com/eset/ipyida.git

# https://github.com/mandiant/flare-vm
[submodule "plugins/flare-vm"]
	path = plugins/flare-vm
	url = https://github.com/mandiant/flare-vm.git

# https://github.com/CrackerCat/fentapatch
[submodule "plugins/fentapatch"]
	path = plugins/fentapatch
	url = https://github.com/CrackerCat/fentapatch.git

#https://github.com/alexander-pick/ida-pro-function-hunter
[submodule "plugins/ida-pro-function-hunter"]
	path = plugins/ida-pro-function-hunter
	url = https://github.com/alexander-pick/ida-pro-function-hunter.git

# https://github.com/islipnot/AutoStruct
[submodule "plugins/AutoStruct"]
	path = plugins/AutoStruct
	url = https://github.com/islipnot/AutoStruct.git




# https://github.com/doronz88/ida-scripts
[submodule "scripts/ida-scripts"]
	path = scripts/ida-scripts
	url = https://github.com/doronz88/ida-scripts.git

# https://github.com/ZjW1nd/Better-printk-IDA9
[submodule "plugins/Better-printk-IDA9"]
	path = plugins/Better-printk-IDA9
	url = https://github.com/ZjW1nd/Better-printk-IDA9.git

# https://github.com/AzzOnFire/emuit
[submodule "plugins/emuit"]
	path = plugins/emuit
	url = https://github.com/AzzOnFire/emuit.git

# https://github.com/stuxnet147/IDA-Assistant
[submodule "plugins/IDA-Assistant"]
	path = plugins/IDA-Assistant
	url = https://github.com/stuxnet147/IDA-Assistant.git

# https://github.com/reveny/Android-JNI-Helper
[submodule "plugins/Android-JNI-Helper"]
	path = plugins/Android-JNI-Helper
	url = https://github.com/reveny/Android-JNI-Helper.git

# https://github.com/REDasmOrg/REDasm
[submodule "plugins/REDasm"]
	path = plugins/REDasm
	url = https://github.com/REDasmOrg/REDasm.git


# https://github.com/reversinglabs/reversinglabs-yara-rules
[submodule "plugins/reversinglabs-yara-rules"]
	path = plugins/reversinglabs-yara-rules
	url = https://github.com/reversinglabs/reversinglabs-yara-rules.git

# https://github.com/binsync/binsync

[submodule "plugins/binsync"]
	path = plugins/binsync
	url = https://github.com/binsync/binsync.git

# https://github.com/google/binexport
[submodule "plugins/binexport"]
	path = plugins/binexport
	url = https://github.com/google/binexport.git

# https://github.com/doronz88/fa
[submodule "plugins/fa"]
	path = plugins/fa
	url = https://github.com/doronz88/fa.git

# https://github.com/milankovo/hexinlay/tree/main
[submodule "plugins/hexinlay"]
	path = plugins/hexinlay
	url = https://github.com/milankovo/hexinlay.git

# https://github.com/0xdea/augur
[submodule "plugins/augur"]
	path = plugins/augur
	url = https://github.com/0xdea/augur.git

# https://github.com/jiutian666/xdefla
[submodule "plugins/xdefla"]
	path = plugins/xdefla
	url = https://github.com/jiutian666/xdefla.git
